{{ define "main" }}
<article>
  {{ partial "components/hero.html" . }}
  <section>
    <div class="container">
      <div class="row">
        <div class="column">
          {{ .Content }}
        </div>
        <div class="column">
          <ul>
          {{- range where .Site.Pages "lastmod" "" -}}
            <li>{{ .Lastmod.Format "2006/01/02" }}: {{ . }}</li>
          {{- end -}}
          </ul>
        </div>
      </div>
    </div>
  </section>
  {{/*  {{ .Content }}  */}}
</article>
{{ end }}