.DS_Store
.vscode
.cache
.env

node_modules

_site_FF
SETUP*

/catalogue/word-to-yaml/dist/*
/catalogue/pdf-generator/dist/*
/catalogue/data/examples

/website/public
/website/content/work/catalog/*.md
/website/resources