article {
  min-height: calc(100vh - 30rem);
  font-size: 1.2rem;
  font-weight: 200;

  @media screen and (min-width: 1024px) {
    font-size: 1.3rem;
  }

  section:first-of-type {
    margin-top: -8rem;
    padding-top: calc(#{$s-section-v-padding} + 4rem);
  }

  h2 {
    font-size: 2.5rem;
  }

  &.work {
    .hero {
      margin-bottom: 4rem;

      h1 span {
        font-size: 1.5rem;
      }
    }

    h2 {
      font-size: 2rem;
    }

    .footer {
      position: relative;
      padding-top: 2rem;
      margin: -8rem auto 8rem;

      .more {
        position: absolute;
        left: calc(100% - 16rem);
      }
    }
  }
}