label {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;

  @media screen and (min-width: 600px) {
    font-size: 1.2rem;
  }
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 .35rem 0 0;
  border: 1px solid rgba(0,0,0, .5);
  border-radius: .15rem;
  background-color: transparent;

  &:checked {
    border: none;

    &:before {
      content: '';
      display: block;
      width: 1.2rem;
      height: 1.2rem;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 118 118' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M107.271 29.4768L100.836 23.0424L41.559 82.3199L17.1636 57.9245L10.7291 64.3589L41.3278 94.9576L41.559 94.7264L41.7902 94.9576L107.271 29.4768Z' fill='black'/%3E%3C/svg%3E");
    }
  }
}