.news {
  padding-top: 3rem;

  .date {
    display: inline-block;
    margin-bottom: 1rem;
    border-color: $c-gray-darker;
    color: $c-gray-darker;
    background: rgba(128,128,128, 0.1);

    .highlight &,
    .focus & {
      border-color: $c-black;
      color: $c-black;
    }

    .invert &,
    .black & {
      border-color: $c-white;
      color: $c-white;
      background: rgba(255,255,255, 0.1);
    }
  }

  .row .column {
    padding-top: 0;

    & > *:first-child {
      margin-top: 0;
    }
  }
}
