

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $f-sans;
  font-weight: 300;
  color: $c-gray-darker;
  background-color: transparent;

  @include font-size;
  @include line-height;

  &.highlight {
    background-color: $c-section-highlight-bg;
  }

  &.focus {
    background-color: $c-section-focus-bg;
  }

  &.invert {
    background-color: $c-section-invert-bg;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: $s-container-width;
  padding: 0 $s-spacing-base;
  margin: 1% auto 0;
}

*:not(body).highlight {
  color: $c-primary;
}

*:not(body).focus {
  color: $c-secondary;
}
