.catalogue {
  .list {
    margin-top: -2.2rem;
    padding-top: 0;
    padding-bottom: 0;
    min-width: calc(100% - 19.25rem);
    min-height: 15rem;
  }

  &.embedded,
  &.rework-mode {
    .list {
      margin-top: 0;
    }
  }

  .refine,
  .refine--wrapper {
    will-change: background-color, right;
    transition: background-color .2s linear, right .2s linear;

    .highlight & {
      background-color: $c-section-highlight-bg;
    }

    .focus & {
      background-color: $c-section-focus-bg;
    }

    .invert & {
      background-color: $c-section-invert-bg;
    }

    .black & {
      background-color: $c-section-black-bg;
    }
  }

  .refine {
    position: absolute;
    right: -.75rem;
    height: 100%;
    min-height: 20rem;
    padding: 0;

    @media screen and (min-width: 940px) {
      position: relative;
      right: auto;
      height: auto;
    }

    &.open {
      .refine--wrapper {
        right: 0;

        &:not(.scrolled) {
          height: 100%;
        }

        @media screen and (min-width: 940px) {
          right: auto;
          height: auto;
        }
      }

      .refine--handler svg {
        margin-left: 0;
        transform: rotate(-90deg);
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 1rem;
      border-bottom: 1px dashed rgba(0,0,0, .2);

      .works--count {
        margin-bottom: -0.3rem;
      }
    }
  }

  .refine--wrapper {
    position: absolute;
    top: 0;
    right: -19.25rem;
    width: 19.25rem;
    min-width: 19.25rem;
    padding: 1.25rem 0 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;

    @media screen and (min-width: 940px) {
      position: relative;
      right: auto;
      padding-left: 0.5rem;
    }

    &.sticked {
      position: fixed;
      top: 0;
      right: auto;
      height: 100%;
    }

    &.scrolled {
      position: absolute;
      top: auto;
      bottom: 0;
      height: auto;
    }

    &:not(.scrolled).cropped {
      height: 100%;
    }
  }

  .refine--inner {
    max-height: 100%;
    margin-right: 1rem;
    padding-right: 1rem;
    overflow: hidden;

    @media screen and (min-width: 940px) {
      margin-right: 0.5rem;
    }

    h3 {
      display: flex;
      align-items: center;

      button {
        margin-left: 0.5rem;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

    .spacer {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }

  .refine--handler {
    position: absolute;
    top: 0;
    left: calc(2px - 2rem);
    bottom: 0;
    width: calc(2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0, .7);
    outline: none;
    cursor: pointer;

    @media screen and (min-width: 940px) {
      display: none;
    }

    svg {
      margin: 1.35rem 0 0 .125rem;
      will-change: transform;
      transition: transform .3s linear;

      .highlight & {
        fill: $c-section-highlight-bg;
      }

      .focus & {
        fill: $c-section-focus-bg;
      }

      .invert & {
        fill: $c-section-invert-bg;
      }

      .black & {
        fill: $c-section-black-bg;
      }
    }
  }

  .refine--handler-label {
    position: absolute;
    top: 3.75rem;
    right: calc(100% - 0.5rem);
    transform: rotate(270deg);
    transform-origin: top right;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 300;
    will-change: color;
    transition: color .3s linear;

    .highlight & {
      color: $c-section-highlight-bg;
    }

    .focus & {
      color: $c-section-focus-bg;
    }

    .invert & {
      color: $c-section-invert-bg;
    }

    .black & {
      color: $c-section-black-bg;
    }

    .works--count {
      font-size: 0.8rem;
      background-color: rgba(0,0,0, 0.3);
    }
  }
}