.catalogue {
  .list {
    padding-top: 0;
    min-width: calc(100% - 19.25rem);
    min-height: 15rem;
  }

  .refine,
  .refine--wrapper {
    will-change: background-color, right;
    transition: background-color .2s linear, right .2s linear;

    .highlight & {
      background-color: $c-section-highlight-bg;
    }

    .focus & {
      background-color: $c-section-focus-bg;
    }

    .invert & {
      background-color: $c-section-invert-bg;
    }

    .black & {
      background-color: $c-section-black-bg;
    }
  }

  .refine {
    position: absolute;
    right: -.75rem;
    height: 100%;
    min-height: 20rem;
    padding: 0;

    @media screen and (min-width: 940px) {
      position: relative;
      right: auto;
      height: auto;
    }

    &.open {
      .refine--wrapper {
        right: 0;

        @media screen and (min-width: 940px) {
          right: auto;
        }
      }

      .refine--handler svg {
        margin-left: 0;
        transform: rotate(-90deg);
      }
    }

    h3 {
      margin-top: -.25rem;
      margin-bottom: 0;
      padding-bottom: 1.25rem;
      border-bottom: 1px dashed rgba(0,0,0, .2);
    }
  }

  .refine--wrapper {
    position: absolute;
    top: 0;
    right: -19.25rem;
    width: 19.25rem;
    min-width: 19.25rem;
    height: 100%;
    padding: 1.25rem 2rem 1.25rem 1rem;

    @media screen and (min-width: 940px) {
      position: relative;
      right: auto;
      padding: 1.25rem;
    }

    &.sticked {
      position: fixed;
      top: 0;
      right: auto;
    }
  }

  .refine--inner {
    max-height: 100%;
    overflow: auto;
  }

  .refine--handler {
    position: absolute;
    top: 0;
    left: calc(2px - 2rem);
    bottom: 0;
    width: calc(2rem - 2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0, .7);

    @media screen and (min-width: 940px) {
      display: none;
    }

    svg {
      margin: 1.35rem 0 0 .125rem;
      will-change: transform;
      transition: transform .3s linear;

      .highlight & {
        fill: $c-section-highlight-bg;
      }

      .focus & {
        fill: $c-section-focus-bg;
      }

      .invert & {
        fill: $c-section-invert-bg;
      }

      .black & {
        fill: $c-section-black-bg;
      }
    }
  }

  .refine--handler-label {
    position: absolute;
    top: 3.75rem;
    right: calc(100% - .275rem);
    transform: rotate(270deg);
    transform-origin: top right;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
    will-change: color;
    transition: color .3s linear;

    .highlight & {
      color: $c-section-highlight-bg;
    }

    .focus & {
      color: $c-section-focus-bg;
    }

    .invert & {
      color: $c-section-invert-bg;
    }

    .black & {
      color: $c-section-black-bg;
    }
  }
}