.works {
  &--count {
    padding: 0 .5rem;
    font-size: 1.1rem;
  }

  &--count-amount {
    font-weight: 400;
  }

  &--list {
    list-style: none;
    padding: .5rem;
  }

  .work {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px dashed rgba(0,0,0, .2);

    &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin: .5rem .5rem .5rem 0;
      }
    }

    &--description {
      font-size: 1.2rem;
    }

    &--fields {
      margin: 1rem 0 0 0;
    }

    &--field {
      display: flex;
      margin: .25rem 0;

      dt, dd {
        flex: 1;
        display: block;
        margin: 0;
      }

      dt {
        display: block;
        min-width: 8rem;
        max-width: 8rem;
        margin-right: 1rem;
        text-align: right;
        font-size: 1rem;
        font-weight: 500;
      }

      dd {
        font-size: 1.1rem;
      }
    }
  }
}