.works--list {
  dl {
    margin-top: 1rem;
    padding: 1rem 0 1.5rem;
    border-top: 1px dashed rgba(0,0,0, 0.15);
    font-size: 1rem;
    
    @media screen and (min-width: 560px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &.show-reworks > li[style*="order: 0"] {
    dl {
      color: $c-white;
      border-top-color: rgba(255,255,255, 0.25);
    }

    .work-input {
      background-color: rgba(255,255,255, 0.1);
    }

    .movement--duration:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='feather' viewBox='0 0 24 24'%3E%3Cpath d='M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z' fill='rgba(255,255,255, .3)'/%3E%3C/svg%3E%0A");
    }
  }

  dt {
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: inherit;
    opacity: 0.5;

    @media screen and (min-width: 560px) {
      flex: 0 0 20%;
      padding-top: 1.2rem;
      padding-right: 0.75rem;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: right;
    }

    &:after {
      content: ':';
    }
  }

  dd {
    margin: 0;

    @media screen and (min-width: 560px) {
      flex:0 0 80%;
      padding-top: 1rem;
      margin-left: auto;
      text-align: left;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;

    em {
      font-size: 0.9rem;
      font-weight: inherit;
      opacity: 0.85;
    }
  }

  .movements {
    display: table;
  }

  .movement {
    display: table-row;

    &--pos,
    &--title,
    &--duration {
      display: table-cell;
      vertical-align: middle;
    }

    &--title,
    &--duration {
      &:before {
        display: inline-flex;
        padding-right: .5rem;
        font-size: .8rem;
        font-weight: 500;
        color: $c-gray-darker;
        color: rgba(0,0,0, .5);
      }
    }

    &--title {
      padding: .125rem 1rem;
    }

    &--duration {
      display: inline-flex;
      align-items: center;

      &:before {
        content: '';
        flex-shrink: 0;
        width: 1.1rem;
        height: 1.1rem;
        margin-right: -0.25rem;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='feather' viewBox='0 0 24 24'%3E%3Cpath d='M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z' fill='rgba(0,0,0, .35)'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .button {
    padding: 0.25rem 0.5rem 0.35rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
    text-transform: none;
    background-color: $c-gray-darker;
    border-radius: 0.25rem;
    border: none;

    &:hover {
      background-color: $c-black;
    }
  }

  .work-input {
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.1;
    border-radius: 0.35rem;
    background-color: rgba(0,0,0, 0.05);

    .button {
      margin-top: 0.75rem;
      display: inline-block;
    }
  }
}