.works {
  margin-top: 1.5rem;

  &--count {
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    font-family: $f-sans;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(0,0,0, 0.1);
  }

  &--rework-info {
    display: none;
    flex-direction: column;
    padding: 3rem 1rem 1rem 1rem;
    font-size: 1rem;
    color: rgba(0,0,0, .75);

    .back {
      font-size: 1rem;
    }

    &.visible {
      display: flex;
    }

    .embedded & {
      padding-top: 0;
    }
  }

  &--list {
    list-style: none;
    margin: 0 1rem 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    &.show-id li:before {
      content: attr(id);
      display: inline-flex;
      padding: .125rem .5rem;
      margin-bottom: 1rem;
      font-family: 'Segoe UI', Monaco, monospace;
      font-size: .8rem;
      font-weight: 100;
      cursor: pointer;
      border: none;
      border-radius: .5rem;
      color: rgba(0,0,0, .8);
      background-color: rgba(255,255,255, .4);
    }

    &.show-reworks {
      & > li[style*="order: 0"] {
        color: $c-gray-lighter;
        background-color: $c-black;

        h3 {
          color: $c-almost-white;
        }

        .link {
          border-bottom-color: rgba(255,255,255, 0.5);

          &:hover {
            border-color: rgba(255,255,255, .2);
            background-color: rgba(255,255,255, .2);
          }
        }

        .work--composition-date:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='feather' viewBox='0 0 24 24'%3E%3Cpath d='M22.9948 2C22.9948 2 15.3548 1.63 9.33484 9.88C4.71484 16.21 2.99484 22 2.99484 22L4.93484 21C6.37484 18.5 7.12484 17.47 8.53484 16C11.0648 16.74 13.7048 16.65 15.9948 14C13.9948 13.44 12.3948 13.57 10.0348 13.81C12.6848 12 14.4948 11.6 16.9948 12L17.9948 10C16.1948 9.66 14.9948 9.63 13.2148 10.04C15.1848 8.65 16.5548 7.87 18.9948 8L20.2048 6.07C18.6448 5.96 17.7048 6.13 15.9148 6.57C17.5248 5.11 18.9948 4.45 21.1348 4.32C21.1348 4.32 22.1848 2.43 22.9948 2Z' fill='rgba(255,255,255, .35)'/%3E%3C/svg%3E%0A");
        }
  
        .work--duration:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='feather' viewBox='0 0 24 24'%3E%3Cpath d='M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z' fill='rgba(255,255,255, .35)'/%3E%3C/svg%3E%0A");
        }

        .tag {
          color: $c-black;
        }

        .reworked {
          background-color: $c-primary;
        }

        .work--language {
          color: rgba(255,255,255, .6);
          border-color: rgba(255,255,255, .6);
        }

        .work--multimedia {
          border-top-color: rgba(255,255,255, 0.25);
        }

        .work--scores button {
          color: $c-black;
          background-color: $c-primary;

          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='#555' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6799 30.8562C10.8434 31.2382 10.0124 31.1622 9.12694 30.4997C9.24367 30.4392 9.34789 30.3864 9.44381 30.3381C9.65237 30.233 9.81938 30.1489 9.97794 30.0517C10.6649 29.6257 10.9699 28.9067 10.8099 28.1282C10.6759 27.4807 10.1004 26.9162 9.47844 26.8212C8.73844 26.7072 8.09244 27.0902 7.75794 27.8417C7.23944 28.9962 7.56294 30.3092 8.61744 30.8867C9.20894 31.2087 9.89244 31.4457 10.5509 31.4922C12.3809 31.6237 13.8149 30.0637 13.6424 28.2172C13.5694 27.0442 13.3364 25.2197 13.1799 24.0972C13.1799 24.0972 13.2994 24.0562 13.6664 23.8567C14.6754 23.3097 15.4109 22.4227 15.8334 21.2827C16.9409 18.2997 15.2019 15.4277 12.2474 15.3522C12.1739 15.3508 12.0999 15.3361 12.0159 15.3194C11.9772 15.3117 11.9363 15.3036 11.8924 15.2962L11.3969 12.1652C11.5845 12.0002 11.7678 11.8307 11.9469 11.6567C14.8714 8.75366 15.5269 4.93366 13.6049 1.18866C13.1579 0.316159 12.7074 0.283659 12.0729 1.03066C11.8962 1.23996 11.7434 1.47435 11.5914 1.70752C11.5731 1.7356 11.5548 1.76366 11.5364 1.79166C10.3449 3.60416 10.0729 5.67466 10.4064 7.77316C10.5214 8.50616 10.6184 9.76866 10.6184 9.76866C10.6184 9.76866 9.75444 10.6247 9.16294 11.0677C7.61094 12.2287 6.43094 13.8147 5.87294 15.8197C4.50694 20.7097 7.99644 24.4352 11.5064 24.3097C11.9279 24.2947 12.3624 24.2547 12.7899 24.2052C13.0149 25.6357 13.2239 27.4127 13.2504 28.5427C13.2769 29.6722 12.5634 30.4527 11.6799 30.8562ZM12.4739 22.1463C12.5504 22.6414 12.6273 23.1396 12.7029 23.6422L12.7009 23.6432C10.6909 24.0747 9.00244 23.5697 7.67094 21.9422C6.42744 20.4262 6.35844 18.7392 7.17444 16.9527C8.03594 15.0742 9.41794 13.7477 11.0289 12.4672C11.1949 13.5442 11.3374 14.4772 11.4799 15.4157C9.87994 16.1362 8.75844 17.2427 8.80394 19.2062C8.83994 20.6202 9.69844 21.7657 10.8769 22.1422C10.7797 22.0159 10.684 21.8989 10.5918 21.7862C10.4015 21.5536 10.2263 21.3395 10.0844 21.1007C9.32844 19.8197 9.86244 18.2247 11.1514 17.8427C11.6029 17.7082 11.8474 17.7762 11.9244 18.3752C12.0852 19.6282 12.2781 20.8774 12.4739 22.1463ZM13.9999 5.06416C13.5764 6.91416 12.3859 8.15266 10.9899 9.41916L10.9874 9.41816C10.8274 7.37466 10.9579 5.55666 11.9164 3.90816C12.0664 3.65066 12.3019 3.41466 12.5469 3.26066C13.1924 2.85466 13.7699 3.12116 13.9404 3.90816C14.0204 4.28066 14.0829 4.70466 13.9999 5.06416ZM12.6504 20.6137C12.5132 19.6638 12.3753 18.7091 12.2344 17.7602C13.7769 17.6617 14.5889 18.3612 14.8284 19.8662C15.1124 21.6442 14.4759 23.0787 13.0734 23.5147C12.9315 22.5604 12.7913 21.5896 12.6504 20.6137Z'/%3E%3Cpath d='M0.0025 5.16921V5.16821L0 5.16921C0.000833416 5.16921 0.00166675 5.16921 0.0025 5.16921Z'/%3E%3Cpath d='M8.23813 5.16942V5.91671L1.66743 5.90871L1.68493 9.94871H8.23813L7.50925 10.6892L1.68493 10.6812V14.7212H4.63636L4.09088 15.4527H1.68493V19.4927H4.45453L4.63636 20.2312L1.68493 20.2242V24.2542H7.83654L9.54573 25.0007H0.0025V5.16921C6.88345 5.17034 8.07101 5.16977 8.23813 5.16942Z'/%3E%3C/svg%3E%0A");
          }
        }

        .work--detail-toogle:after {            
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='feather' viewBox='0 0 24 24'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' fill='rgba(255,255,255, 0.5)'/%3E%3C/svg%3E%0A");
        }
      }

      & > li.reworks-sep {
        order: 1;        
        display: flex;
        align-items: center;
        margin: 0 0 1.5rem;
        padding: 0;
        font-size: 1rem;
        font-weight: 500;
        background: none;

        &:before,
        &:after {
          flex: 1;
          content: '';
          border-bottom: 1px solid rgba(0,0,0, .2);
          z-index: 0;
        }

        &:before {
          margin: 0 1rem -2px 0;
        }

        &:after {
          margin: 0 0 -2px 1rem;
        }
      }
    }

    & > li {
      position: relative;
      margin-bottom: 1.5rem;
      padding: 1.5rem 1.5rem 0;
      border-radius: 0.5rem;
      background-color: rgba(255,255,255, 0.175);
      overflow: hidden;
      will-change: background-color;
      transition: background-color .2s linear;
  
      &:not([style*="order: 0"]):not(.reworks-sep):hover {
        background-color: rgba(255,255,255, .35);

        section.invert & {
          background-color: rgba(255,255,255, .2);
        }
      }
  
      &.selected {
        box-shadow: 0 0 0.75rem rgba(0,0,0, 0.3);
      }

      &.hidden,
      &.reworks-sep {
        display: none;
      }

      &.show-fields .work--detail-toogle:after {
        transform: rotate(180deg);
      }

      header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 0.75rem;
      }

      .work--meta {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media screen and (min-width: 560px) {
          flex-direction: row;
        }
      }

      .work--composition-date,
      .work--duration {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        margin: 0 0.75rem 0.5rem 0;
        padding: 0;
        font-size: 1rem;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 1.35rem;
        outline: none;
        cursor: pointer;

        &:before {
          content: '';
          flex-shrink: 0;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.15rem;
        }
      }

      .work--composition-date:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='feather' viewBox='0 0 24 24'%3E%3Cpath d='M22.9948 2C22.9948 2 15.3548 1.63 9.33484 9.88C4.71484 16.21 2.99484 22 2.99484 22L4.93484 21C6.37484 18.5 7.12484 17.47 8.53484 16C11.0648 16.74 13.7048 16.65 15.9948 14C13.9948 13.44 12.3948 13.57 10.0348 13.81C12.6848 12 14.4948 11.6 16.9948 12L17.9948 10C16.1948 9.66 14.9948 9.63 13.2148 10.04C15.1848 8.65 16.5548 7.87 18.9948 8L20.2048 6.07C18.6448 5.96 17.7048 6.13 15.9148 6.57C17.5248 5.11 18.9948 4.45 21.1348 4.32C21.1348 4.32 22.1848 2.43 22.9948 2Z' fill='rgba(0,0,0, .35)'/%3E%3C/svg%3E%0A");
      }

      .work--duration:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='feather' viewBox='0 0 24 24'%3E%3Cpath d='M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z' fill='rgba(0,0,0, .35)'/%3E%3C/svg%3E%0A");
      }

      .tag {
        height: 1.65rem;
        cursor: pointer;
        
        &.rework,
        &.reworked {
          margin-top: 0.25rem;
          margin-right: 0.5rem;

          @media screen and (min-width: 560px) {
            margin-top: 0;
          }
        }

        &.rework {
          color: $c-gray-darker;
          border-color: $c-gray-darker;
          background-color: transparent;
        }

        &.reworked {
          color: $c-primary;
          border-color: $c-almost-black;
          background-color: $c-almost-black;
        }
      }
    
      /* Title */
      h3 {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8rem;
      }

      .work--language {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0.45rem 0.5rem 0 0;
        padding: .2rem .4rem;
        height: 1.5rem;
        font-family: $f-sans;
        font-size: .75rem;
        line-height: 1;
        font-weight: 600;
        color: rgba(0,0,0, .5);
        text-transform: uppercase;
        border-radius: .4rem;
        border: 1px solid rgba(0,0,0, .6);
        background: none;
        outline: none;
        cursor: pointer;
      }

      /* Title translations */
      h4 {
        margin: 0.25rem 0 0 0;
        padding-top: 0.2rem;
        font-size: 0.9rem;
        opacity: 0.8;
      }

      /* Description */
      h5 {
        margin: 0;
        padding: 0.75rem 0 0;
        font-family: $f-sans;
        font-size: 1.15rem;
        line-height: 1.2;
      }

      .more {
        display: flex;
        justify-content: flex-end;
        margin: 1.25rem 2rem -0.75rem 0;
        font-size: 1.1rem;
      }

      /* Multimedia */
      .work--multimedia {
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        border-top: 1px dashed rgba(0,0,0, 0.15);
        display: flex;
        flex-direction: column;
        column-gap: 2rem;

        @media screen and (min-width: 768px) {
          flex-direction: row;
        }
      }

      .work--audios {
        width: 100%;
        order: 2;
        align-self: flex-start;
        margin-top: 1rem;
        border-top: 1px dashed rgba(0,0,0,.15);
        padding-top: 1rem;

        @media screen and (min-width: 768px) {
          order: 1;
          margin-top: 0;
          border-top: 0;
          padding-top: 0;
        }
      }

      .spacer {
        display: none;
        order: 1;

        @media screen and (min-width: 768px) {
          display: block;
        }
      }

      .work--scores {
        order: 1;
        position: relative;
        align-self: flex-end;
        
        button {
          padding: 0.4rem 0.2rem 0.5rem 0.8rem;
          display: flex;
          align-items: center;
          font-size: 1rem;
          line-height: 1rem;
          font-weight: 400;
          color: $c-white;
          white-space: nowrap;
          border: none;
          border-radius: 0.6rem;
          background: $c-almost-black;
          cursor: pointer;

          @media screen and (min-width: 768px) {
            order: 2;
            align-self: flex-start;
          }

          &:before {
            content: '';
            margin-right: 0.3rem;
            display: block;
            width: 1rem;
            height: 1.7rem;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='#83CACC' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6799 30.8562C10.8434 31.2382 10.0124 31.1622 9.12694 30.4997C9.24367 30.4392 9.34789 30.3864 9.44381 30.3381C9.65237 30.233 9.81938 30.1489 9.97794 30.0517C10.6649 29.6257 10.9699 28.9067 10.8099 28.1282C10.6759 27.4807 10.1004 26.9162 9.47844 26.8212C8.73844 26.7072 8.09244 27.0902 7.75794 27.8417C7.23944 28.9962 7.56294 30.3092 8.61744 30.8867C9.20894 31.2087 9.89244 31.4457 10.5509 31.4922C12.3809 31.6237 13.8149 30.0637 13.6424 28.2172C13.5694 27.0442 13.3364 25.2197 13.1799 24.0972C13.1799 24.0972 13.2994 24.0562 13.6664 23.8567C14.6754 23.3097 15.4109 22.4227 15.8334 21.2827C16.9409 18.2997 15.2019 15.4277 12.2474 15.3522C12.1739 15.3508 12.0999 15.3361 12.0159 15.3194C11.9772 15.3117 11.9363 15.3036 11.8924 15.2962L11.3969 12.1652C11.5845 12.0002 11.7678 11.8307 11.9469 11.6567C14.8714 8.75366 15.5269 4.93366 13.6049 1.18866C13.1579 0.316159 12.7074 0.283659 12.0729 1.03066C11.8962 1.23996 11.7434 1.47435 11.5914 1.70752C11.5731 1.7356 11.5548 1.76366 11.5364 1.79166C10.3449 3.60416 10.0729 5.67466 10.4064 7.77316C10.5214 8.50616 10.6184 9.76866 10.6184 9.76866C10.6184 9.76866 9.75444 10.6247 9.16294 11.0677C7.61094 12.2287 6.43094 13.8147 5.87294 15.8197C4.50694 20.7097 7.99644 24.4352 11.5064 24.3097C11.9279 24.2947 12.3624 24.2547 12.7899 24.2052C13.0149 25.6357 13.2239 27.4127 13.2504 28.5427C13.2769 29.6722 12.5634 30.4527 11.6799 30.8562ZM12.4739 22.1463C12.5504 22.6414 12.6273 23.1396 12.7029 23.6422L12.7009 23.6432C10.6909 24.0747 9.00244 23.5697 7.67094 21.9422C6.42744 20.4262 6.35844 18.7392 7.17444 16.9527C8.03594 15.0742 9.41794 13.7477 11.0289 12.4672C11.1949 13.5442 11.3374 14.4772 11.4799 15.4157C9.87994 16.1362 8.75844 17.2427 8.80394 19.2062C8.83994 20.6202 9.69844 21.7657 10.8769 22.1422C10.7797 22.0159 10.684 21.8989 10.5918 21.7862C10.4015 21.5536 10.2263 21.3395 10.0844 21.1007C9.32844 19.8197 9.86244 18.2247 11.1514 17.8427C11.6029 17.7082 11.8474 17.7762 11.9244 18.3752C12.0852 19.6282 12.2781 20.8774 12.4739 22.1463ZM13.9999 5.06416C13.5764 6.91416 12.3859 8.15266 10.9899 9.41916L10.9874 9.41816C10.8274 7.37466 10.9579 5.55666 11.9164 3.90816C12.0664 3.65066 12.3019 3.41466 12.5469 3.26066C13.1924 2.85466 13.7699 3.12116 13.9404 3.90816C14.0204 4.28066 14.0829 4.70466 13.9999 5.06416ZM12.6504 20.6137C12.5132 19.6638 12.3753 18.7091 12.2344 17.7602C13.7769 17.6617 14.5889 18.3612 14.8284 19.8662C15.1124 21.6442 14.4759 23.0787 13.0734 23.5147C12.9315 22.5604 12.7913 21.5896 12.6504 20.6137Z'/%3E%3Cpath d='M0.0025 5.16921V5.16821L0 5.16921C0.000833416 5.16921 0.00166675 5.16921 0.0025 5.16921Z'/%3E%3Cpath d='M8.23813 5.16942V5.91671L1.66743 5.90871L1.68493 9.94871H8.23813L7.50925 10.6892L1.68493 10.6812V14.7212H4.63636L4.09088 15.4527H1.68493V19.4927H4.45453L4.63636 20.2312L1.68493 20.2242V24.2542H7.83654L9.54573 25.0007H0.0025V5.16921C6.88345 5.17034 8.07101 5.16977 8.23813 5.16942Z'/%3E%3C/svg%3E%0A");
            background-size: 100% 100%;
          }

          .facet--count {
            margin-left: 0.7rem;
            font-size: 0.8rem;
            padding: 0.2rem 0.4rem;
            margin-top: 0.1rem;
          }
        }

        &:hover {
          @media screen and (min-width: 768px) {
            button {
              background: $c-black;
              box-shadow: 0 0 0.5rem rgba(0,0,0, 0.1);
            }
  
            .work--scores-links {
              display: flex;
            }
          }
        }

        &.hover {
          @media screen and (max-width: 767px) {
            button {
              background: $c-black;
              box-shadow: 0 0 0.5rem rgba(0,0,0, 0.1);
            }

            .work--scores-links {
              display: flex;
            }
          }
        }

        &-links {
          display: none;
          position: absolute;
          padding-bottom: 0.5rem;
          bottom: calc(100% - 0.25rem);
          right: 0;
          flex-direction: column;
          gap: 1px;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0.5rem;
            border-radius: 0.6rem;
            background-color: $c-primary;
            box-shadow: 0 0 0.5rem rgba(0,0,0, 0.1);
            z-index: 0;
          }

          &:hover {
            display: flex;
          }

          a {
            display: block;
            padding: 0.5rem 1rem 0.5rem 2.5rem;
            font-size: 1rem;
            font-weight: 400;
            text-transform: capitalize;
            color: $c-gray-darker;
            background-color: rgba(255,255,255, 0.7);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23909090' d='m24.1 2.072l5.564 5.8v22.056H8.879V30h20.856V7.945L24.1 2.072'/%3E%3Cpath fill='%23f4f4f4' d='M24.031 2H8.808v27.928h20.856V7.873L24.03 2'/%3E%3Cpath fill='%237a7b7c' d='M8.655 3.5h-6.39v6.827h20.1V3.5H8.655'/%3E%3Cpath fill='%23dd2025' d='M22.472 10.211H2.395V3.379h20.077v6.832'/%3E%3Cpath fill='%23464648' d='M9.052 4.534H7.745v4.8h1.028V7.715L9 7.728a2.042 2.042 0 0 0 .647-.117a1.427 1.427 0 0 0 .493-.291a1.224 1.224 0 0 0 .335-.454a2.13 2.13 0 0 0 .105-.908a2.237 2.237 0 0 0-.114-.644a1.173 1.173 0 0 0-.687-.65a2.149 2.149 0 0 0-.409-.104a2.232 2.232 0 0 0-.319-.026m-.189 2.294h-.089v-1.48h.193a.57.57 0 0 1 .459.181a.92.92 0 0 1 .183.558c0 .246 0 .469-.222.626a.942.942 0 0 1-.524.114m3.671-2.306c-.111 0-.219.008-.295.011L12 4.538h-.78v4.8h.918a2.677 2.677 0 0 0 1.028-.175a1.71 1.71 0 0 0 .68-.491a1.939 1.939 0 0 0 .373-.749a3.728 3.728 0 0 0 .114-.949a4.416 4.416 0 0 0-.087-1.127a1.777 1.777 0 0 0-.4-.733a1.63 1.63 0 0 0-.535-.4a2.413 2.413 0 0 0-.549-.178a1.282 1.282 0 0 0-.228-.017m-.182 3.937h-.1V5.392h.013a1.062 1.062 0 0 1 .6.107a1.2 1.2 0 0 1 .324.4a1.3 1.3 0 0 1 .142.526c.009.22 0 .4 0 .549a2.926 2.926 0 0 1-.033.513a1.756 1.756 0 0 1-.169.5a1.13 1.13 0 0 1-.363.36a.673.673 0 0 1-.416.106m5.08-3.915H15v4.8h1.028V7.434h1.3v-.892h-1.3V5.43h1.4v-.892'/%3E%3Cpath fill='%23dd2025' d='M21.781 20.255s3.188-.578 3.188.511s-1.975.646-3.188-.511Zm-2.357.083a7.543 7.543 0 0 0-1.473.489l.4-.9c.4-.9.815-2.127.815-2.127a14.216 14.216 0 0 0 1.658 2.252a13.033 13.033 0 0 0-1.4.288Zm-1.262-6.5c0-.949.307-1.208.546-1.208s.508.115.517.939a10.787 10.787 0 0 1-.517 2.434a4.426 4.426 0 0 1-.547-2.162Zm-4.649 10.516c-.978-.585 2.051-2.386 2.6-2.444c-.003.001-1.576 3.056-2.6 2.444ZM25.9 20.895c-.01-.1-.1-1.207-2.07-1.16a14.228 14.228 0 0 0-2.453.173a12.542 12.542 0 0 1-2.012-2.655a11.76 11.76 0 0 0 .623-3.1c-.029-1.2-.316-1.888-1.236-1.878s-1.054.815-.933 2.013a9.309 9.309 0 0 0 .665 2.338s-.425 1.323-.987 2.639s-.946 2.006-.946 2.006a9.622 9.622 0 0 0-2.725 1.4c-.824.767-1.159 1.356-.725 1.945c.374.508 1.683.623 2.853-.91a22.549 22.549 0 0 0 1.7-2.492s1.784-.489 2.339-.623s1.226-.24 1.226-.24s1.629 1.639 3.2 1.581s1.495-.939 1.485-1.035'/%3E%3Cpath fill='%23909090' d='M23.954 2.077V7.95h5.633l-5.633-5.873Z'/%3E%3Cpath fill='%23f4f4f4' d='M24.031 2v5.873h5.633L24.031 2Z'/%3E%3Cpath fill='%23fff' d='M8.975 4.457H7.668v4.8H8.7V7.639l.228.013a2.042 2.042 0 0 0 .647-.117a1.428 1.428 0 0 0 .493-.291a1.224 1.224 0 0 0 .332-.454a2.13 2.13 0 0 0 .105-.908a2.237 2.237 0 0 0-.114-.644a1.173 1.173 0 0 0-.687-.65a2.149 2.149 0 0 0-.411-.105a2.232 2.232 0 0 0-.319-.026m-.189 2.294h-.089v-1.48h.194a.57.57 0 0 1 .459.181a.92.92 0 0 1 .183.558c0 .246 0 .469-.222.626a.942.942 0 0 1-.524.114m3.67-2.306c-.111 0-.219.008-.295.011l-.235.006h-.78v4.8h.918a2.677 2.677 0 0 0 1.028-.175a1.71 1.71 0 0 0 .68-.491a1.939 1.939 0 0 0 .373-.749a3.728 3.728 0 0 0 .114-.949a4.416 4.416 0 0 0-.087-1.127a1.777 1.777 0 0 0-.4-.733a1.63 1.63 0 0 0-.535-.4a2.413 2.413 0 0 0-.549-.178a1.282 1.282 0 0 0-.228-.017m-.182 3.937h-.1V5.315h.013a1.062 1.062 0 0 1 .6.107a1.2 1.2 0 0 1 .324.4a1.3 1.3 0 0 1 .142.526c.009.22 0 .4 0 .549a2.926 2.926 0 0 1-.033.513a1.756 1.756 0 0 1-.169.5a1.13 1.13 0 0 1-.363.36a.673.673 0 0 1-.416.106m5.077-3.915h-2.43v4.8h1.028V7.357h1.3v-.892h-1.3V5.353h1.4v-.892'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 1.5rem;
            background-position: 0.5rem 0.4rem;
            z-index: 1;

            &:first-child {
              border-top-left-radius: 0.6rem;
              border-top-right-radius: 0.6rem;
            }

            &:last-child {
              border-bottom-left-radius: 0.6rem;
              border-bottom-right-radius: 0.6rem;
            }

            &:hover {
              color: $c-black;
              background-color: rgba(255,255,255, 0.9);
            }
          }
        }
      }

      .play {
        align-items: flex-start;

        h5 {
          padding-top: 0.25rem;
          text-align: left;
          font-size: 1rem;
          font-weight: 400;
          pointer-events: none;
        }
      }

      .work--detail-toogle {
        position: relative;
        display: flex;
        margin: 1rem -1.5rem 0;
        height: 2rem;
        width: calc(100% + 3rem);
        background-color: rgba(255,255,255, 0.125);
        outline: none;
        border: none;
        border-top: 1px solid rgba(0,0,0, 0.1);
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          top: calc(50% - 0.5rem);
          left: calc(50% - 0.5rem);
          width: 1rem;
          height: 1rem;
          transform: rotate(0deg);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='feather' viewBox='0 0 24 24'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' fill='rgba(0,0,0, 0.5)'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 150% 150%;
        }
      }
    }
  }
}