{{- $date := dateFormat "Monday, Jan 2, 2006" .lastUpdates.date -}}
{{- $since := dateFormat "Monday, Jan 2, 2006" .lastUpdates.since -}}
{{- $audiosA := len .lastUpdates.audios.A -}}
{{- $audiosU := len .lastUpdates.audios.U -}}
{{- $worksA := len .lastUpdates.works.A -}}
{{- $worksU := len .lastUpdates.works.U -}}
{{- $storiesA := len .lastUpdates.stories.A -}}
{{- $storiesU := len .lastUpdates.stories.U -}}
<div class="last-updates">
  <h3>Last updates</h3>
  <p>
    The website was last updated on <strong>{{ $date }} </strong>.
  </p>
  <!--since its previous release on <strong>{{ $since }}</strong>.-->
  <ul>
    <li>
      <div class="last-updates--category">
        {{- partial "icons/feather.svg" -}}
        <span class="label">Works</span>
      </div>
      <div class="last-updates--stat">
        <span class="count">{{ $worksA }}</span>
        <span class="label">added</span>
      </div>
      <div class="last-updates--stat">
        <span class="count">{{ $worksU }}</span>
        <span class="label">updated</span>
      </div>
    </li>
    <li>
      <div class="last-updates--category">
        {{- partial "icons/music.svg" -}}
        <span class="label">Audios</span>
      </div>
      <div class="last-updates--stat">
        <span class="count">{{ $audiosA }}</span>
        <span class="label">added</span>
      </div>
      <div class="last-updates--stat">
        <span class="count">{{ $audiosU }}</span>
        <span class="label">updated</span>
      </div>
    </li>
    <li>
      <div class="last-updates--category">
        {{- partial "icons/article.svg" -}}
        <span class="label">Stories</span>
      </div>
      <div class="last-updates--stat">
        <span class="count">{{ $storiesA }}</span>
        <span class="label">added</span>
      </div>
      <div class="last-updates--stat">
        <span class="count">{{ $storiesU }}</span>
        <span class="label">updated</span>
      </div>
    </li>
  </ul>
</div>