@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Frank+Ruhl+Libre:300,700");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #333333;
  background-color: transparent;
  font-size: 19px;
  line-height: 1.5;
}

@media (min-width: 375px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 21px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 375px) {
  body {
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  body {
    line-height: 1.5;
  }
}

@media (min-width: 1024px) {
  body {
    line-height: 1.5;
  }
}

body.highlight {
  background-color: #FAB700;
}

body.focus {
  background-color: #83CACC;
}

body.invert {
  background-color: #777777;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  margin: 1% auto 0;
}

*:not(body).highlight {
  color: #FAB700;
}

*:not(body).focus {
  color: #83CACC;
}

h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 700;
  margin: 30.875px 0 15.4375px;
  font-size: 30.875px;
  line-height: 1.35;
}

@media (min-width: 375px) {
  h1 {
    margin: 32.5px 0 16.25px;
  }
}

@media (min-width: 768px) {
  h1 {
    margin: 34.125px 0 17.0625px;
  }
}

@media (min-width: 1024px) {
  h1 {
    margin: 35.75px 0 17.875px;
  }
}

@media (min-width: 375px) {
  h1 {
    font-size: 32.5px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 34.125px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 35.75px;
  }
}

@media (min-width: 375px) {
  h1 {
    line-height: 1.35;
  }
}

@media (min-width: 768px) {
  h1 {
    line-height: 1.35;
  }
}

@media (min-width: 1024px) {
  h1 {
    line-height: 1.35;
  }
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 26.125px 0 13.0625px;
  font-size: 26.125px;
  line-height: 1.35;
}

@media (min-width: 375px) {
  h2 {
    margin: 27.5px 0 13.75px;
  }
}

@media (min-width: 768px) {
  h2 {
    margin: 28.875px 0 14.4375px;
  }
}

@media (min-width: 1024px) {
  h2 {
    margin: 30.25px 0 15.125px;
  }
}

@media (min-width: 375px) {
  h2 {
    font-size: 27.5px;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 28.875px;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 30.25px;
  }
}

@media (min-width: 375px) {
  h2 {
    line-height: 1.35;
  }
}

@media (min-width: 768px) {
  h2 {
    line-height: 1.35;
  }
}

@media (min-width: 1024px) {
  h2 {
    line-height: 1.35;
  }
}

h1 + h2 {
  margin-top: -13.0625px;
}

@media (min-width: 375px) {
  h1 + h2 {
    margin-top: -13.75px;
  }
}

@media (min-width: 768px) {
  h1 + h2 {
    margin-top: -14.4375px;
  }
}

@media (min-width: 1024px) {
  h1 + h2 {
    margin-top: -15.125px;
  }
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 21.375px 0 10.6875px;
  font-size: 21.375px;
}

@media (min-width: 375px) {
  h3 {
    margin: 22.5px 0 11.25px;
  }
}

@media (min-width: 768px) {
  h3 {
    margin: 23.625px 0 11.8125px;
  }
}

@media (min-width: 1024px) {
  h3 {
    margin: 24.75px 0 12.375px;
  }
}

@media (min-width: 375px) {
  h3 {
    font-size: 22.5px;
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: 23.625px;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 24.75px;
  }
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 21.375px 0 10.6875px;
  font-size: 21.375px;
}

@media (min-width: 375px) {
  h4 {
    margin: 22.5px 0 11.25px;
  }
}

@media (min-width: 768px) {
  h4 {
    margin: 23.625px 0 11.8125px;
  }
}

@media (min-width: 1024px) {
  h4 {
    margin: 24.75px 0 12.375px;
  }
}

@media (min-width: 375px) {
  h4 {
    font-size: 22.5px;
  }
}

@media (min-width: 768px) {
  h4 {
    font-size: 23.625px;
  }
}

@media (min-width: 1024px) {
  h4 {
    font-size: 24.75px;
  }
}

h3 + h4 {
  margin-top: -10.6875px;
}

@media (min-width: 375px) {
  h3 + h4 {
    margin-top: -11.25px;
  }
}

@media (min-width: 768px) {
  h3 + h4 {
    margin-top: -11.8125px;
  }
}

@media (min-width: 1024px) {
  h3 + h4 {
    margin-top: -12.375px;
  }
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 19px;
}

@media (min-width: 375px) {
  h5 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  h5 {
    font-size: 21px;
  }
}

@media (min-width: 1024px) {
  h5 {
    font-size: 22px;
  }
}

p {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 100;
  margin: 20px 0 10px;
}

p + section,
p + footer {
  margin-top: -20px;
}

p:empty {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.Columns {
  display: flex;
  flex-direction: row;
  margin: -20px;
}

@media (max-width: 479px) {
  .Columns {
    flex-direction: column;
  }
}

.Columns .Column {
  flex: 1;
  padding: 20px;
}

@media (max-width: 479px) {
  .Columns .Column {
    order: 1 !important;
  }
}

button {
  padding: 15px;
  margin: 10px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  border-radius: 8px;
  background: none;
  border: none;
  outline: none;
  background-color: black;
  font-size: 16.625px;
}

@media (min-width: 375px) {
  button {
    font-size: 17.5px;
  }
}

@media (min-width: 768px) {
  button {
    font-size: 18.375px;
  }
}

@media (min-width: 1024px) {
  button {
    font-size: 19.25px;
  }
}

.More {
  display: inline-block;
  padding-bottom: 9px;
  margin: 20px 0 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

.More:before {
  content: '➔';
  display: inline-block;
}

.Download {
  display: flex;
  margin: 30px 0 15px;
  color: #5fbbbd;
}

.Download svg {
  width: 20px;
  height: 20px;
  margin: 5px 10px 0 0;
  fill: #5fbbbd;
}

@media (min-width: 1024px) {
  .Download svg {
    margin-right: 15px;
  }
}

.Download__texts {
  display: flex;
  flex-direction: column;
}

.Download__meta {
  font-size: 90%;
  font-weight: 300;
  color: black;
  opacity: .6;
}

Section.highlight .Download,
Section.focus .Download {
  color: white;
}

Section.highlight .Download svg,
Section.focus .Download svg {
  fill: white;
}

Section.invert .Download {
  color: #FAB700;
}

Section.invert .Download svg {
  fill: #FAB700;
}

Section.invert .Download .download__meta {
  color: white;
}

.Section {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  z-index: 0;
}

.Section:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: skewY(1deg);
  z-index: -1;
  background-color: white;
}

.Section:first-of-type:after {
  box-shadow: 0 0 calc(3 * 20px) rgba(0, 0, 0, 0.3);
}

.Section:last-of-type {
  padding-bottom: 60px;
  margin-bottom: -60px;
}

.Section.highlight {
  color: black;
}

.Section.highlight:after {
  background-color: #FAB700;
}

.Section.focus {
  color: black;
}

.Section.focus:after {
  background-color: #83CACC;
}

.Section.invert {
  color: #DDDDDD;
}

.Section.invert:after {
  background-color: #777777;
}

.Section.invert h1, .Section.invert h2, .Section.invert h3, .Section.invert h4, .Section.invert h5, .Section.invert h6 {
  color: white;
}

.Header {
  position: relative;
  height: 103px;
  overflow: hidden;
  margin-bottom: -2vw;
  background-color: black;
}

@media (min-width: 768px) {
  .Header {
    will-change: height, padding-bottom;
    transition: all 0.3s ease-in;
  }
}

.Header.full {
  height: 75vh;
}

.Header .container {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.Header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(transparent, black);
  background-size: 50%;
  background-repeat: repeat-x;
  background-position: 0 100%;
}

.Header-background:before, .Header-background:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s ease-out;
}

@media (min-width: 768px) {
  .Header-background:before, .Header-background:after {
    opacity: 1;
  }
}

.Header-background:before {
  left: 0;
  background-image: linear-gradient(to left, transparent, black);
}

.Header-background:after {
  right: 0;
  background-image: linear-gradient(to right, transparent, black);
}

.Header-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  opacity: .2;
}

.full .Header-image {
  opacity: 1;
}

.Header-logo-headline {
  position: absolute;
  left: 20px;
  bottom: calc(4vw + 13px);
  opacity: 1;
  will-change: opacity;
  transition: opacity 0.3s ease-out;
}

@media screen and (max-width: 560px) {
  .is-nav-open .Header-logo-headline {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .Header-logo-headline {
    bottom: calc(3vw + 13px);
  }
}

.Header-logo {
  width: 165px;
  height: 34.8612px;
  background-image: url(/svg/signature.svg);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 375px) {
  .full .Header-logo {
    width: 190px;
    height: 40.1432px;
  }
}

@media (min-width: 480px) {
  .full .Header-logo {
    width: 190px;
    height: 40.1432px;
  }
}

@media (min-width: 768px) {
  .full .Header-logo {
    width: 205px;
    height: 43.3124px;
  }
}

@media (min-width: 1024px) {
  .full .Header-logo {
    width: 230px;
    height: 48.5944px;
  }
}

@media (min-width: 1200px) {
  .full .Header-logo {
    width: 230px;
    height: 48.5944px;
  }
}

.Header-logo b {
  display: none;
}

.Header-headline {
  display: none;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 375px) {
  .Header-headline {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .Header-headline {
    font-size: 17.5px;
  }
}

@media (min-width: 1024px) {
  .Header-headline {
    font-size: 20px;
  }
}

.full .Header-headline {
  display: block;
}

.Header-hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
  outline: none;
}

@media screen and (min-width: 561px) {
  .Header-hamburger {
    display: none;
  }
}

.Header-hamburger:after {
  content: attr(data-menu-label);
  display: block;
  position: absolute;
  top: 0;
  left: calc(100% + 19px);
  text-transform: uppercase;
  opacity: .65;
  will-change: opacity;
  transition: opacity 0.3s ease-in;
}

.Header-hamburger span {
  display: block;
  margin-top: 3px;
  height: 3px;
  width: 22px;
  background-color: black;
  opacity: 1;
  will-change: background-color, opacity;
  transition: all 0.3s linear;
}

.Header-hamburger span:first-of-type {
  transform-origin: 2.5px 0;
}

.Header-hamburger span:last-of-type {
  transform-origin: 0 2.5px;
}

.Header-nav-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -2vw;
  z-index: -1;
}

.Header-nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 120vw;
  height: 50vh;
  background-color: #FAB700;
  transform-origin: 0 0;
  will-change: transform, opacity;
}

.Header-nav-bg--full {
  opacity: .9;
  transform: rotate(-6deg);
}

.Header-nav-bg--medium {
  opacity: .6;
  transform: rotate(-10deg);
}

.Header-nav-bg--light {
  opacity: .25;
  transform: rotate(-14deg);
}

.Header nav {
  display: flex;
  align-items: center;
  position: absolute;
  left: calc(100% - 115px);
  bottom: 4vw;
  padding-left: 5px;
  z-index: 0;
  will-change: left;
  transition: left 0.3s ease-in;
}

@media screen and (min-width: 561px) {
  .Header nav {
    left: 240px;
  }
}

@media (min-width: 768px) {
  .Header nav {
    left: 255px;
    bottom: 3vw;
  }
}

@media (min-width: 1024px) {
  .Header nav {
    left: 280px;
  }
}

.Header ul,
.Header li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Header ul {
  display: flex;
  flex-direction: row;
  visibility: hidden;
  margin-left: 10px;
  padding: 22px 9.5px 19px;
  will-change: visibility;
}

@media screen and (min-width: 561px) {
  .Header ul {
    visibility: visible;
  }
}

@media (min-width: 1024px) {
  .Header ul {
    margin-left: 20px;
  }
}

.Header li a {
  position: relative;
  display: block;
  padding: 0 5px;
  font-size: 17.1px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  outline: none;
}

@media (min-width: 375px) {
  .Header li a {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .Header li a {
    font-size: 18.9px;
  }
}

@media (min-width: 1024px) {
  .Header li a {
    font-size: 19.8px;
  }
}

@media (min-width: 375px) {
  .Header li a {
    padding: 0 6.66667px;
  }
}

@media (min-width: 768px) {
  .Header li a {
    padding: 0 10px;
  }
}

.Header li.is-open > a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #83CACC;
}

.Header li.is-selected > a {
  color: white;
}

.Header-subnav-wrapper {
  display: none;
  position: absolute;
  left: -20px;
  width: 100vw;
  height: 120px;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #83CACC;
  will-change: visibility;
  transition: visibility 0.3s ease-in;
}

@media screen and (min-width: 561px) {
  .Header-subnav-wrapper {
    left: calc(-240px);
  }
}

@media (min-width: 768px) {
  .Header-subnav-wrapper {
    left: calc(-255px);
  }
}

@media (min-width: 1024px) {
  .Header-subnav-wrapper {
    left: calc(-280px - ((100vw - 1024px)/2));
  }
}

.is-open .Header-subnav-wrapper,
.is-selected .Header-subnav-wrapper {
  display: block;
}

.Header-subnav-wrapper:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: inherit;
  width: 60px;
  background-image: linear-gradient(to right, transparent, #83CACC);
}

@media (min-width: 1024px) {
  .Header-subnav-wrapper:after {
    right: calc((100vw - 1024px)/2);
  }
}

.Header-subnav-wrapper .container {
  overflow-x: auto;
}

.Header-subnav-wrapper ul {
  margin: 0;
  padding-top: 9.5px;
  padding-right: 20px;
}

.Header-subnav-wrapper ul li a {
  padding-right: 10px;
  white-space: nowrap;
  font-weight: 100;
}

.Header-subnav-wrapper ul li:last-of-type a {
  padding-right: 40px;
}

.Header.is-subnav-open {
  height: calc(103px + 60px);
  padding-bottom: 60px;
}

.Header.is-subnav-open.full {
  height: calc(75vh + 60px);
}

@media screen and (max-width: 560px) {
  .Header.is-nav-open nav {
    left: 20px;
  }
  .Header.is-nav-open .Header-hamburger span {
    background-color: white;
  }
  .Header.is-nav-open .Header-hamburger:after {
    display: none;
  }
  .Header.is-nav-open ul {
    visibility: visible;
  }
}

footer {
  position: relative;
  display: flex;
  margin-top: -20px;
  padding: calc(2% + 20px) 10px;
  font-weight: 300;
  color: #9A9A9A;
  overflow: hidden;
  font-size: 15.675px;
}

@media (min-width: 375px) {
  footer {
    font-size: 16.5px;
  }
}

@media (min-width: 768px) {
  footer {
    font-size: 17.325px;
  }
}

@media (min-width: 1024px) {
  footer {
    font-size: 18.15px;
  }
}

footer:after {
  content: '';
  display: block;
  position: absolute;
  top: 5%;
  left: -10%;
  height: 105%;
  width: 115%;
  margin-top: 1%;
  transform: rotate(-1.5deg);
  background-color: black;
}

@media (min-width: 768px) {
  footer:after {
    width: 100%;
  }
}

@media (min-width: 768px) {
  footer {
    padding-right: calc(10% + 20px);
    text-align: right;
  }
}

footer .container {
  z-index: 1;
}

footer a {
  color: #FAB700;
}

footer em {
  font-style: normal;
  color: white;
}

section.highlight + footer {
  background-color: #FAB700;
}

section.focus + footer {
  background-color: #83CACC;
}

section.invert + footer {
  background-color: #777777;
}
/*# sourceMappingURL=app.css.map */