<div class="announcement container">
  <div class="announcement--wrapper">
    <div class="announcement--box">
      <h2 class="announcement--title">
        <a href="/work">New feature in catalogue!</a>
      </h2>
      <div class="announcement--content">
        <p>
          <a href="/work">
            You will now be able to <b>download</b> publicly available <b>scores in PDF</b> format!
          </a>
        </p>
      </div>
      <button class="announcement--close button small">Close</button>
  </div>
  </div>
</div>
