* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
}

html {
  font-size: 16px;
}

body {
  font-family: $f-sans;
  line-height: 1.5;
  font-weight: 400;
  color: $c-gray-darker;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;

  &.highlight {
    background-color: $c-section-highlight-bg;
  }

  &.focus {
    background-color: $c-section-focus-bg;
  }

  &.invert {
    background-color: $c-section-invert-bg;
  }

  &.black {
    background-color: $c-section-black-bg;
  }

  &.blocked {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $f-serif;
  font-weight: 100;
  line-height: 1.2;
}

h2 {
  margin-top: 3rem;
}

h2 + h3 {
  margin-top: -1.5rem;
}

h3 + h4 {
  margin-top: -1rem;
}

hr {
  border: none;
  border-bottom: 1px solid $c-gray-lighter;
}

a, .link {
  padding-left: .125rem;
  padding-right: .125rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  will-change: color;
  transition: color .2s ease;
}

.link {
  border: none;
  background: none;
  padding-bottom: .15rem;
  border-bottom: 1px dashed $c-gray-dark;
  will-change: background-color;
  transition: background-color .2s ease;

  section.highlight & {
    border-bottom-color: $c-section-highlight-txt;
  }

  section.focus & {
    border-bottom-color: $c-section-focus-txt;
  }

  section.invert & {
    border-bottom-color: $c-section-invert-txt;
  }

  section.black & {
    border-bottom-color: $c-section-black-txt;
  }

  &:hover {
    border-color: rgba(0,0,0, .1);
    background-color: rgba(0,0,0, .1);

    section.black & {
      border-color: rgba(255,255,255, .2);
      background-color: rgba(255,255,255, .2);
    }

    .container p & {
      border-bottom-style: solid;
    }
  }
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  font-weight: 500;
}

blockquote {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-family: $f-serif;
  font-style: italic;
  font-size: 120%;
  font-weight: 100;

  .blocked & {
    z-index: -1;
  }

  .column > &  {
    margin-top: 0;
  }

  &:before {
    position: absolute;
    top: 2.5rem;
    left: -2rem;
    content: '';
    width: 1px;
    height: calc(100% - 2.5rem);
    background-color: $c-secondary;

    section.highlight & {
      background-color: $c-gray-light;
    }

    section.focus & {
      background-color: $c-white;
    }
  }

  &:after {
    content: "‟";
    position: absolute;
    left: -3rem;
    top: 1.5rem;
    display: block;
    line-height: 0;
    font-size: 200%;
    color: $c-secondary;

    section.highlight & {
      color: $c-gray-light;
    }

    section.focus & {
      color: $c-white;
    }
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

:disabled {
  cursor: not-allowed !important;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100%;

  &.full {
    padding: 0;
  }

  &:not(.full) {
    @media screen and (min-width: 1024px) {
      max-width: $s-container-width;
    }
  }
}

.spacer {
  flex: 1;
}

article > .container {
  padding-top: 5rem;
}

*:not(body).highlight {
  color: $c-primary;
}

*:not(body).focus {
  color: $c-secondary;
}

.tag {
  padding: .3rem .7rem;
  font-family: $f-sans;
  font-size: .8rem;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  border: none;
  border-radius: .8rem;
  background-color: $c-secondary;

  &:focus {
    outline: none;
    box-shadow: 0 0 0.25rem rgba(0,0,0, 0.25);
  }

  &.border {
    border-width: 1px;
    border-style: solid;
  }

  .highlight & {
    border-color: $c-secondary;
  }

  .focus & {
    color: $c-white;
    border-color: $c-gray-dark;
    background-color: $c-gray-dark;
  }

  .invert & {
    color: $c-black;
  }

  .black & {
    color: $c-black;
  }

  &.active {
    &,
    section.highlight &,
    section.focus & {
      color: $c-primary;
      border-color: $c-gray-darker;
      background-color: $c-gray-darker;
    }
  }
}

.collapse {
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  background: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.868238 12.283L12.8675 24.2822L13.8674 23.2823L2.86737 12.2822L13.8674 1.28215L12.8675 0.28221L0.868241 12.2815L0.868984 12.2822L0.868238 12.283Z' fill='black'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: .4rem;
  background-position: center;
  will-change: transform;
  transition: transform .1s ease-in;
  cursor: pointer;
  outline: none;

  &:not(.reverse) {
    margin-right: 0.25rem;
    transform: rotate(180deg);

    &.open {
      transform: rotate(270deg);
    }
  }

  &.reverse {
    margin-left: 0.25rem;

    &.open {
      transform: rotate(-90deg);
    }
  }
}

.icon {
  margin: 0.25rem 0.5rem -0.35rem 0;
  padding: 0.125rem;
}