<div id="player">
  <div class="player--wrapper">
    <div class="container">
      <div class="player--meta">
        <h5></h5>
        <p></p>
        <button class="player--close"></button>
      </div>
      <div class="player--controls">
        <button
          class="play"
          onclick="window.dispatchEvent(new CustomEvent('play', { detail: { target: this } }))">
          <div class="play--button"></div>
        </button>
        <div id="waveform"></div>
        <div class="player--volume"></div>
      </div>
    </div>
  </div>
</div>