a.more {
  display: inline-block;
  padding-bottom: .5rem;
  font-weight: bolder;

  .container p & {
    border: none;

    &:hover {
      background: none;
    }
  }

  &:hover {
    svg {
      margin-left: 0.75rem;
    }
  }

  svg {
    margin: 0.1rem 0 0 .5rem;
    vertical-align: middle;
    width: auto;
    height: 0.85rem;
    margin-bottom: .2rem;
    transition: margin-left 0.1s linear;

    path {
      fill: $c-gray-darker;

      section.highlight & {
        fill: $c-section-highlight-txt;
      }

      section.focus & {
        fill: $c-section-focus-txt;
      }

      section.invert & {
        fill: $c-section-invert-txt;
      }

      section.black &,
      footer & {
        fill: $c-section-black-txt;
      }
    }
  }
}