a.more {
  padding-bottom: .5rem;
  font-weight: bolder;

  svg {
    margin-left: .5rem;
    vertical-align: middle;
    width: auto;
    height: 1rem;
    margin-bottom: .2rem;

    path {
      fill: $c-gray-darker;

      section.highlight & {
        fill: $c-section-highlight-txt;
      }

      section.focus & {
        fill: $c-section-focus-txt;
      }

      section.invert & {
        fill: $c-section-invert-txt;
      }

      section.black & {
        fill: $c-section-black-txt;
      }
    }
  }
}