nav {
  position: fixed;
  top: calc(.8rem - 2px);
  right: calc(.3rem - 2px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: .5rem;
  font-size: 1.5rem;
  font-weight: 100;
  color: rgba(255,255,255, .8);
  pointer-events: all;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 5.3rem;
  }

  .nav--hamburger {
    order: 2;
    margin: .5rem 2rem;
    cursor: pointer;
    z-index: 1;

    @media screen and (min-width: 768px) {
      display: none;
    }

    span {
      display: block;
      width: calc(#{$s-hamburger-width} - 2px);
      height: 2px;
      margin-bottom: 6px;
      background-color: rgba(210,210,210, .7);
      border-bottom: 2px solid rgba(40,40,40, .3);
      transition: .2s all linear;
      animation-direction: alternate-reverse;

      &:last-of-type {
        margin-bottom: .5rem;
      }

      &:nth-child(1) {
        animation: hamburger-top-reverse .2s linear forwards;
      }

      &:nth-child(3) {
        animation: hamburger-bottom-reverse .2s linear forwards;
      }
    }

    &:hover span {
      background-color: $c-primary;
    }
  }

  .nav--wrapper {
    display: block;
    position: fixed;
    top: -90vh;
    left: 0;
    width: 100%;
    height: 90vh;
    padding: 5rem 1rem;
    background-color: rgba(0,0,0, .95);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3rem), 0 100%);
    transition: .1s top ease-out;

    @media screen and (min-width: 768px) {
      position: relative;
      top: auto;
      right: 1.5rem;
      left: auto;
      height: auto;
      padding: 0;
      background-color: transparent;
      clip-path: none;
    }
  }

  .nav--bottom {
    display: block;
    position: fixed;
    bottom: calc(-10vh - 3rem);
    left: 0;
    width: 100%;
    height: calc(10vh + 3rem + 1px);
    background-color: rgba(0,0,0, .95);
    clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0 100%);
    transition: .1s bottom ease-out;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    order: 1;
  }

  ul {
    display: flex;
  }

  li {
    width: 100%;
    padding: 0 .5rem;

    @media screen and (min-width: 768px) {
      width: auto;
    }

    a {
      width: 100%;
      padding: 1rem .25rem;
      text-align: right;
      color: rgba(255,255,255, .8);
      border-bottom: 1px solid rgba(180,180,180, .3);
      transition: .2s color linear, .3s border-bottom-color linear;

      @media screen and (min-width: 768px) {
        width: auto;
        padding: .5rem 0;
        border-bottom-color: transparent;
      }
    }

    &:hover,
    &.active {
      a {
        color: $c-secondary;
        border-bottom-color: $c-secondary;
      }
    }
  }

  &.open {
    .nav--hamburger span {
      background-color: $c-primary;
      border-bottom-width: 0;

      &:nth-child(1) {
        animation: hamburger-top .2s linear forwards;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        animation: hamburger-bottom .2s linear forwards;
      }
    }

    .nav--wrapper {
      top: 0;
    }

    .nav--bottom {
      bottom: 0;
    }
  }
}