#player {
  height: 0;
  background-color: $c-black;
  position: relative;
  z-index: 2;

  &.open {
    height: 10rem;

    .player--wrapper {
      height: 20rem;
      opacity: 1;
    }
  }

  .player {
    &--wrapper {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      max-height: 10rem;
      font-family: $f-sans;
      font-size: 1rem;
      font-weight: normal;
      color: $c-gray-lighter;
      background-color: rgba(0,0,0, .9);
      opacity: 0;
      z-index: 1;
      will-change: height, opacity;
      transition: .2s height linear, .3s opacity linear;

      .container {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    &--controls {
      display: flex;
      align-items: center;

      .play[disabled] {
        opacity: 0.5;
      }
    }

    &--meta {
      padding: 1.5rem .5rem .75rem 0;

      h5,
      p {
        padding: 0;
        margin: 0;
      }

      h5 {
        margin-right: .5rem;
        font-size: 1.1rem;
        font-weight: 700;
        color: $c-secondary;
      }

      p {
        font-weight: 100;
        line-height: 1;
        margin-top: 0.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &--loading {
      position: absolute;
      left: 6rem;
      opacity: .75;
    }

    &--close {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      width: 2rem;
      height: 2rem;
      padding: .35rem;
      margin: 0;
      background: none;
      border: none;
      cursor: pointer;

      &:before,
      &:after {
        display: block;
        content: '';
        width: 1.25rem;
        height: 2px;
        background-color: $c-primary;
        transform-origin: 50% 50%;
      }

      &:before {
        transform: rotate(45deg) translateX(1px);
      }

      &:after {
        transform: rotate(-45deg) translateX(1px);
      }
    }


  }

  .play {
    padding: 0;

    &--button {
      margin-left: -1rem;
    }
  }

  #waveform {
    flex: 1;

    wave {
      overflow: hidden !important;
    }

    canvas {
      width: 100%;
    }
  }
}

.play {
  padding: 0.25rem 1rem;
  display: inline-flex;
  align-items: stretch;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }

  &--meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    pointer-events: none;

    h5, p {
      margin: 0;
      font-weight: 100;
      line-height: 1.2;
    }

    h5 {
      font-family: $f-serif;
      font-size: 1.4rem;
      font-weight: 100;
      text-align: left;

      .small & {
        font-size: 1rem;
      }
    }

    p {
      margin: .25rem 0 0;
      font-family: $f-sans;
      font-size: 1.125rem;
      text-align: left;

      .small & {
        display: none;
      }
    }
  }

  &--button {
    content: '';
    flex-shrink: 0;
    display: flex;
    margin: 0.125rem 1rem 0 -1rem;
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: $c-primary;
    pointer-events: none;

    .highlight & {
      background-color: $c-secondary;
    }

    #player & {
      background-color: transparent;
    }

    .small & {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .5rem;
      border-radius: .25rem;
    }
  }

  &:not(.playing) {
    .play--button {
      &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        margin: .75rem 0 0 1rem;
        border-top: .8rem solid transparent;
        border-bottom: .8rem solid transparent;
        border-left: 1.1rem solid $c-white;

        #player & {
          border-left-color: rgba(255,255,255, .75);
        }
      }
    }

    &.small .play--button:before {
      margin: .375rem 0 0 .55rem;
      border-top-width: .4rem;
      border-bottom-width: .4rem;
      border-left-width: .55rem;
    }
  }

  &.playing {
    .play--button {
      &:before,
      &:after {
        content: '';
        display: block;
        margin-top: .75rem;
        width: 6px;
        height: 1.5rem;
        background-color: rgba(0,0,0, .5);

        #player & {
          background-color: rgba(255,255,255, .75);
        }
      }

      &:before {
        margin-left: 1rem;
      }

      &:after {
        margin-left: .25rem;
      }
    }

    &.small {
      .play--button {
        &:before,
        &:after {
          margin-top: .375rem;
          width: 3px;
          height: .75rem;
        }

        &:before {
          margin-left: .5rem;
        }

        &:after {
          margin-left: .125rem;
        }
      }
    }
  }
}
