
section {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -1px;
  padding: $s-section-v-padding 0 calc(#{$s-section-v-padding} + 2rem);
  z-index: 0;
  will-change: color;
  transition: color .2s linear;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: skewY(1deg);
    background-color: $c-white;
    will-change: background-color;
    transition: background-color .2s linear;
  }

  &.straight {
    margin: -($s-section-v-padding/2) 0;
    padding: $s-section-v-padding 0 $s-section-v-padding;

    &:after {
      transform: none;
    }
  }

  &.full-gallery {
    padding: 0 0 1rem;
    margin-top: -5rem;

    &.straight {
      padding-bottom: 3rem;
    }

    .container {
      clip-path: 0 10% 0 10%;
    }
  }

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 6rem;
  }

  &.highlight {
    color: $c-section-highlight-txt;

    &:after {
      background-color: $c-section-highlight-bg;
    }
  }

  &.focus {
    color: $c-section-focus-txt;

    &:after {
      background-color: $c-section-focus-bg;
    }
  }

  &.invert {
    color: $c-section-invert-txt;

    &:after {
      background-color: $c-section-invert-bg;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $c-white;
    }
  }

  &.black {
    color: $c-section-black-txt;

    &:after {
      background-color: $c-section-black-bg;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $c-secondary;
    }
  }

  &.fullscreen-slider {
    z-index: 1;
  }
}