.Columns {
  display: flex;
  flex-direction: row;
  margin: 0 -$s-spacing-base;

  @include media-breakpoint-down(ss) {
    flex-direction: column;
  }
  
  .Column {
    flex: 1;
    padding: $s-spacing-base;

    @include media-breakpoint-down(ss) {
      order: 1 !important;
    }
  }
}