.Download {
  display: flex;
  margin: 30px 0 15px;
  color: $c-secondary-dark;

  svg {
    width: 20px;
    height: 20px;
    margin: 5px 10px 0 0;
    fill: $c-secondary-dark;

    @include media-breakpoint-up(lg) {
      margin-right: 15px;
    }
  }

  
  &__texts {
    display: flex;
    flex-direction: column;
  }

  &__meta {
    font-size: 90%;
    font-weight: 300;
    color: $c-black;
    opacity: .6;
  }

  Section.highlight &,
  Section.focus & {
    color: $c-white;

    svg {
      fill: $c-white;
    }
  }

  Section.invert & {
    color: $c-primary;

    svg {
      fill: $c-primary;
    }

    .download__meta {
      color: $c-white;
    }
  }
}