
p {
  font-family: $f-serif;
  font-weight: 100;
  margin: $s-spacing-base 0 ($s-spacing-base / 2);
}

// Hacks for shortcodes
p + section,
p + footer {
  margin-top: -$s-spacing-base;
}

p:empty {
  display: none;
}